* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    text-rendering: geometricPrecision;
}

body {
    font-family: "Source Sans Pro";
    font-feature-settings: "ss02";
    font-size: 1rem;
    line-height: 1.5;
}

dd {
    text-align: right;
}

dd:last-of-type
dl,
dt:last-of-type {
    margin-bottom: 0;
}

dt {
    clear: left;
    float: left;
    font-weight: 600;
    margin-bottom: .5em;
}

footer {
    color: #616161;
    font-size: 10px;
    height: 28mm;
    max-height: 28mm;
    overflow: hidden;
    padding: 10px (20mm - 5px) 0 (25mm - 5px);

    .row {
        margin: 0 -10px;
    }

    .col,
    [class^=col-] {
        padding: 0 10px;
    }
}

header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    max-height: 45mm;
    min-height: 45mm;
    overflow: hidden;
    padding-right: 10mm;

    img {
        max-height: 45mm;
    }
}

.address--company {
    color: #616161;
    font-size: 12px;
    height: 17.7mm;
}

.color--primary {
    color: #4A148C;
}

.df {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: .5em;
    }

    span:first-child:not(:only-child) {
        font-weight: 600;
    }

    span:last-child {
        flex-grow: 1;
        text-align: right;
    }

    span:only-child {
        text-align: left;
    }
}

.font-weight--semibold {
    font-weight: 600;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.46mm;
    margin-top: 5mm;
    padding: 0 10mm 0 25mm;

    &-address {
        height: 45mm;
        width: 80mm;
    }

    &-information {
        max-width: 75mm;
        padding-top: 5mm;
    }
}

.lh--1 {
    line-height: 1.1;
}

/* Needs explicit article mention, because span.page is a blocked selector by wkhtmltopdf and shouldn't get these styles */
article.page {
    padding: 0 20mm 0 25mm;
}

.page-number {
    color: #616161;
    font-weight: 600;
    margin: 4.23mm 0;
    padding-right: 20mm;
    text-align: right;
}

.theme--subtle {
    background-color: #EEE;
    color: #616161;
    font-size: 12px;
    font-weight: 350;
    letter-spacing: .2px;
}




.din {
    .company_address {
        position: relative;
        left: 45mm;
        top: 5mm;
        width: 75mm;
        min-width: 75mm;
        display: inline-block;
    }
    .invoice_address {
        position: relative;
        left: 25mm;
        top: 17.7mm;
        width: 85mm;
        height: 27.3mm;
        line-height: 1.15;
        overflow-y: hidden;
        word-break: break-word;
        float: left;
    }
    .header_address { 
        min-height: 45mm;
    }
    .page_number {
        margin-top: 4.23mm;
        margin-bottom: 4.23mm;
    }
    &.article {
        .page {
            position: relative;
            top: 8.46mm;
            left: 25mm;
            width: 190mm;
        }
        .address {
            margin-top: 5mm;
        }
    }
    &.o_background_footer {
        position: relative;
        left: 25mm;
        width: 190mm;
    }
    .o_account_reports_header {
        .fallback_header {
            display: none;
        }
    }
}