* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    text-rendering: geometricPrecision;
}

body {
    // font-family: "Source Sans Pro";
    // font-feature-settings: "ss02";
    font-size: 1rem;
    line-height: 1.5;
}

dd {
    text-align: right;
}

dd:last-of-type
dl,
dt:last-of-type {
    margin-bottom: 0;
}

dt {
    clear: left;
    float: left;
    font-weight: 600;
    margin-bottom: .5em;
}

footer {
    color: #616161;
    font-size: 10px;
    height: 35mm;
    max-height: 35mm;
    overflow: hidden;

    .row {
        margin: 0 -10px;
    }
    &.pdf {
        padding: 10px (20mm - 5px) 0 25mm;
    }
    .col,
    [class^=col-] {
        padding: 0 10px;
    }
}

header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    max-height: 45mm;
    min-height: 45mm;
    overflow: hidden;
    padding-right: 10mm;

    img {
        margin-top: 10mm;
        max-height: 35mm;
    }
}

.address--company {
    color: #616161;
    font-size: 12px;
    height: 17.7mm;
}

.color--primary {
    color: $o-company-primary-color;
}

.df {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: .5em;
    }

    span:first-child:not(:only-child) {
        font-weight: 600;
    }

    span:last-child {
        flex-grow: 1;
        text-align: right;
    }

    span:only-child {
        text-align: left;
    }
}

.font-weight--semibold {
    font-weight: 600;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8.46mm;
    margin-top: 5mm;

    &.pdf {
        padding: 0 10mm 0 25mm;
    }

    &-address {
        height: 45mm;
        width: 80mm;
    }

    &-information {
        max-width: 75mm;
        padding-top: 5mm;
    }
}
.lh--1 {
    line-height: 1.1;
}

/* Needs explicit article mention, because span.page is a blocked selector by wkhtmltopdf and shouldn't get these styles */
article.page {
    &.pdf {
        padding: 0 20mm 0 25mm;
    }
}

.page-number {
    color: #616161;
    font-weight: 600;
    margin: 4.23mm 0;
    padding-right: 20mm;
    text-align: right;
}

.theme--subtle {
    background-color: #EEE;
    color: #616161;
    font-size: 12px;
    font-weight: 350;
    letter-spacing: .2px;
}
